.site-header__initial {
    background-color: #FFF !important;
}
#block-genie-site-branding {
    background-image: none;
    min-height: 0;
    .site-branding__inner {
        > a {
            display: none;
        }
        .site-branding__text,
        .primary-nav__menu-link {
            color: #CC5500;
            font-family: 'Hind Vadodara';
        }
    }
}
.primary-nav__menu-link-inner:after {
    border-top: solid 5px #CC5500;
}
.view-header {
    > p a {
        padding: 1em;
        background-color: #CC5500;
        text-decoration: none;
        color: #FFF;
        border-radius: 0.5em;
    }
}
#block-genie-page-title h1{
    font-size: 2.75rem;
}
#edit-submit-dashboard {
    padding: 1em;
        background-color: #CC5500;
        text-decoration: none;
        color: #FFF;
        border-radius: 0.5em;
        border-color: #CC5500;
        margin-top: 0;
}
:is([type="color"],[type="date"],[type="datetime-local"],[type="email"],[type="file"],[type="month"],[type="number"],[type="password"],[type="search"],[type="tel"],[type="text"],[type="time"],[type="url"],[type="week"],textarea):focus,
select:focus {
    outline: none;
    border: 1px solid #CC5500;
}
.views-table {
    width: 100%;
}
:is(.forum table,.text-content table,.views-table,.draggable-table) th {
    border-block-end: 2px solid #CC5500;
}
.region--breadcrumb {
    display: none;
}
.button--primary {
    padding: 1em;
        background-color: #CC5500;
        border-color: #CC5500;
        text-decoration: none;
        color: #FFF;
        border-radius: 0.5em;
        margin-top: 0;
}
.button--primary:focus {
    outline: none;
}
.button--primary:hover {
    background-color: #CC5500;
    opacity: 0.8;
    border-color: #CC5500;
}
.social-bar {
    background-color: transparent;
}
#main-wrapper {
    min-height: 75vh;
}
.site-footer {
    position: fixed;
    width: 100vw;
    bottom: 0;
    z-index: 10;
}
.site-footer__inner {
    padding: 0
}
#block-genie-powered {
    margin: 2vh;
    text-align: right;
}
a:hover {
    color: #CC5500;
}
a:focus {
    outline: none;
}
#edit-preview,
input[value="Remove"] {
    border: 2px solid #CC5500;
    color: #CC5500;
    padding: 1em;
}
body:not(.is-always-mobile-nav) .is-fixed .sticky-header-toggle {
    visibility: hidden;
}
.ui-accordion .ui-accordion-header {
    padding: 1rem;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    background-color: rgb(204,85,0, 0.5);
    border: 1px solid #CC5500;
}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color: #000;
}
.view-content{
    .views-row {
        .views-row {
            margin-bottom: 1em;
        }
    }
}
.wide-image {
    margin-left: 0;
}
.main-content__container {
    padding-top: 10px;
}